In [3]:
import pandas as pd

In [4]:
data=pd.read_csv("D:\DEEPLEARNING COURSE\Projects End to End\Project 2\Data\WineQT.csv")
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [5]:
df=data

In [6]:
data=df.to_dict(orient="records")
data[0]

{'fixed acidity': 7.4,
 'volatile acidity': 0.7,
 'citric acid': 0.0,
 'residual sugar': 1.9,
 'chlorides': 0.076,
 'free sulfur dioxide': 11.0,
 'total sulfur dioxide': 34.0,
 'density': 0.9978,
 'pH': 3.51,
 'sulphates': 0.56,
 'alcohol': 9.4,
 'quality': 5,
 'Id': 0}

In [ ]:
Db_Name="wine_DB"
Collection_Name="wine_Collection"
Connection_URL=" your url here "

In [1]:
print("ok")

ok

In [11]:
import pymongo
client=pymongo.MongoClient(Connection_URL)
db=client[Db_Name]
collection=db[Collection_Name]

In [12]:
re=collection.insert_many(data)

In [13]:
##### I basically grabbing everything from MongoDB Collection And chucking it into a DataFrame so we can see it nicely -- 
##### Like if you have mongoDB low title this is how you canread the data when they give you user and db/collection name then you can access it like below
cabdi=pd.DataFrame(list(collection.find()))
cabdi.head()

,_id,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,6910934b2dc1669cf274a521,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,6910934b2dc1669cf274a522,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,6910934b2dc1669cf274a523,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,6910934b2dc1669cf274a524,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,6910934b2dc1669cf274a525,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4